In [19]:
a=10 #integer
b=20.00008 #double
c="Rajesh"  #string

print(a ,"type" , type(a))
print(b,"type",type(b))
print(c,"type",type(c))


print("#Multiple assignments")

x,y,z=30,40.88858,"Rajesh"

print(x ,"type" , type(x))
print(y,"type",type(y))
print(z,"type",type(z))

10 type <class 'int'>
20.00008 type <class 'float'>
Rajesh type <class 'str'>
#Multiple assignments
30 type <class 'int'>
40.88858 type <class 'float'>
Rajesh type <class 'str'>

In [39]:
message="welcome World"
print(message)

print(message[1:10])
print(message[0:])
print(message[7:])
print(message[:7])

welcome World
elcome Wo
welcome World
 World
welcome

In [62]:
#Lists

students=[[1,"Rajesh","PLVD",9701645407],
          [2,"Ramireddy","HYD",9701645407]
         ]
print(students)

students1=[1,"Rajesh","PLVD",9701645407]
print(students1)
print(type(students1))
print(type(students))

print(students[0:])

[[1, 'Rajesh', 'PLVD', 9701645407], [2, 'Ramireddy', 'HYD', 9701645407]]
[1, 'Rajesh', 'PLVD', 9701645407]
<class 'list'>
<class 'list'>
[[1, 'Rajesh', 'PLVD', 9701645407], [2, 'Ramireddy', 'HYD', 9701645407]]

In [55]:
#Tuples
Employees=(1,"Rajesh","Hyd",9701645407),(2,"Ramireddy","PLVD",7801013140)
print(Employees,type(Employees))

((1, 'Rajesh', 'Hyd', 9701645407), (2, 'Ramireddy', 'PLVD', 7801013140)) <class 'tuple'>

In [22]:
#Dictionarys
Employees={"name":"Rajesh",
            "mailid":"rajeshreddyrrr3@gmail.com",
            "mobile":9701645407}

print(Employees)

{'name': 'Rajesh', 'mailid': 'rajeshreddyrrr3@gmail.com', 'mobile': 9701645407}

In [67]:
d=20
type(d)
d=float(d)
type(d)

float

In [92]:
#Conditional Statments
var =100
var1=1
if(var==100 ):
    if(var1==10):
        print("Nested true")
        
    print("true1")
else:
    print("false")

true1

In [1]:
#Loops

a=0
while(a==0):
    print("COunt is",a)
    a=a+1
print("Good Bye")

COunt is 0
Good Bye

In [3]:
#while loop-If the condition is true or false statment will executed

a=0
while(a<9):
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8

In [15]:
#For loop

In [10]:
#To print lettrs in a string
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [20]:
#To print names in a list
names=["Rajesh","Ramireddy","SaiPrathap","ramana"]

print(names)

for name in names:
    print(name)
    
    
type(names)

['Rajesh', 'Ramireddy', 'SaiPrathap', 'ramana']
Rajesh
Ramireddy
SaiPrathap
ramana

list

In [21]:
#To Print names in a tuple
names=("Rajesh","Ramireddy","SaiPrathap","ramana")

print(names)

for name in names:
    print(name)
    
type(names)

('Rajesh', 'Ramireddy', 'SaiPrathap', 'ramana')
Rajesh
Ramireddy
SaiPrathap
ramana

tuple

In [47]:
#To Print names in a dictionary

Employees={"name":"Rajesh",
            "mailid":"rajeshreddyrrr3@gmail.com",
            "mobile":9701645407}

print(Employees)
type(Employees)
len(Employees)

#To print keys
print(Employees.keys())
print(Employees.values())

#To  print key and values
for key,value in Employees.items():
    print(key,value)
    
#To  print key and values seperate
for key,value in Employees.items():
    print(key)
    print(value)

{'name': 'Rajesh', 'mailid': 'rajeshreddyrrr3@gmail.com', 'mobile': 9701645407}
dict_keys(['name', 'mailid', 'mobile'])
dict_values(['Rajesh', 'rajeshreddyrrr3@gmail.com', 9701645407])
name Rajesh
mailid rajeshreddyrrr3@gmail.com
mobile 9701645407
name
Rajesh
mailid
rajeshreddyrrr3@gmail.com
mobile
9701645407

In [48]:
#To convert int to float
a=10
type(a)
float(a)

10.0

In [62]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)
list1[2]=208
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]
['physics', 'chemistry', 208]

In [66]:
#COncatinate two list
std=["rajsh","ramireddy"]
std1=["sai","prathap"]

std2=std+std1
print(std2)
type(std2)

['rajsh', 'ramireddy', 'sai', 'prathap']

list

In [67]:
#Concatinate two tuples
std=("rajsh","ramireddy")
std1=("sai","prathap")

std2=std+std1
print(std2)
type(std2)

('rajsh', 'ramireddy', 'sai', 'prathap')

tuple

In [69]:
#Concatinate two dictionarys
std={"name":"Rajesh","loc":"plvd"}
std1={"name":"sai","loc":"hyd"}

std2=std+std1   # we will get error.COncatinate(+) can't support to dictionarys
print(std2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
#To Convert list to tuple
std=[1,2,3]
type(std)
std=tuple(std)
type(std)

tuple

In [79]:
#To COnvert tuple to list
std=(1,2,3)
type(std)
std=list(std)
type(std)

list

In [81]:
#Adding elements into list
student=["Rajesh","Ramireddy","sai"]
print(student)
student.append("prathap")
print(student)

['Rajesh', 'Ramireddy', 'sai']
['Rajesh', 'Ramireddy', 'sai', 'prathap']

In [83]:
#Adding elements into tuple
students=("Rajesh","Ramireddy","Sai")
print(students)
students.append("Ramana")
print(students)

('Rajesh', 'Ramireddy', 'Sai')

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
#Methods in List
#Extend we can add another list in a list
std=["rajsh","ramireddy"]
std1=["sai","prathap"]

std.extend(std1) #std.append(std1)  Both are same based on the usage we can use both

print(std)
type(std)

['rajsh', 'ramireddy', ['sai', 'prathap']]

list

In [95]:
#List.count(obj) It will return count(HOw many times it is there in list) of the selected element
student=[123,4556,123,789]
print(student)
student.count(789)

[123, 4556, 123, 789]

1

In [97]:
#list.index(obj) It will return index of a specified element
student=[123,4556,123,789]
student.index(4556)

1

In [100]:
#list.insert(indwx,value) It will insert element  of a specified index 
student=[123,4556,123,789]
student.insert(0,000)
print(student)

[0, 123, 4556, 123, 789]

In [105]:
#list.pop() We can remove elments from a specified index.It will remove elements by index base
aList = [123, 'xyz', 'zara', 'abc'];
print ("A List : ", aList.pop())
print ("B List : ", aList.pop(2))
print(aList)

A List :  abc
B List :  zara
[123, 'xyz']

In [108]:
#list.remove() TO remove the element by using specific element(It is a element base)
aList.remove(123)
print(aList)

['xyz']

In [109]:
#list.reverse() It will reverse the list
ilist=[123,456,789,123,423]
print(ilist)
print("After reverse Operation")
ilist.reverse()
print(ilist)

[123, 456, 789, 123, 423]
After reverse Operation
[423, 123, 789, 456, 123]

In [113]:
#list.sort() To sort the list
print(ilist)
#ilist.sort()
print("AFter sorting")
print(ilist)

[123, 123, 423, 456, 789]
AFter sorting
[123, 123, 423, 456, 789]

In [117]:
#To get he length of the list or count of the elements in a list
print(ilist)
len(ilist)

[123, 123, 423, 456, 789]

5

In [134]:
#Tuples
student=(123,456,789,159,638)
student1=(987,654,3156,1354)

print(student)
#student[1]=10; #we can't update this in tuples.only we can udate it in list only.SO we can add new tuple and add to it
student3=(456,453)
student=student+student3
print(student)

(123, 456, 789, 159, 638)
(123, 456, 789, 159, 638, 456, 453)

In [135]:
print(student)

(123, 456, 789, 159, 638, 456, 453)

In [137]:
#len To return the length of the tuples
print(student)
print(len(student))

(123, 456, 789, 159, 638, 456, 453)
7

In [138]:
#max(tuple) To return the maximum values in the tuple
print(max(student))

789

In [139]:
#min(tuple)  TO return the minimum value of the tuple
print(min(student))

123

In [152]:
#lis(tuplename) To chnage the tuple into list
print(type(student))
student=list(student)
#print("After changing")
print(type(student))

<class 'tuple'>
<class 'list'>

In [162]:
#Time  TIme is available for different zones we will use localtime.
ticks=time.localtime(time.time())
print(ticks)

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=23, tm_hour=22, tm_min=7, tm_sec=37, tm_wday=6, tm_yday=54, tm_isdst=0)

In [163]:
#Functions It is a block and can reussuabke for different classes
def welcome(str):
    "this will print string value"
    print(str)
    return

In [166]:
welcome("Welcome to Pyhton...!")

Welcome to Pyhton...!

In [168]:
#Function to add two values
def Sum(a,b):
    print(a+b)
    return

In [169]:
Sum(10,20)

30

In [176]:
#Function by using list
def changelist(mylist):
    mylist.append([1,2,3,4,5,6])
    print(mylist)
    return

In [177]:
mylist=[9,8,7,6,5,3,1]
changelist(mylist)

[9, 8, 7, 6, 5, 3, 1, [1, 2, 3, 4, 5, 6]]

In [189]:
x=lambda a,b,c:a+10+b+c

In [190]:
x(20,10,5)

45