# Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs. Here is an example.

In [1]:
for i in range(0,11):
    print(i)
   # if i == 5:
        #break

0
1
2
3
4
5
6
7
8
9
10

The enforcement of indentation in Python makes the code look neat and clean. This results into Python programs that look similar and consistent.

In [1]:
a = 'apple'
if a == 'apple':
    print('Logging on ...')
else:
    print('Incorrect password.')
#print('All done!')

Logging on ...

In [4]:
""""learning about indentations
learning about indentations"""""
if i =='apple':
    print('Logging on....')
else:
    print('Incorrect password')
    
print('All done!')

Incorrect password
All done!

In [5]:
#Anything after # is ignored by python
#comments in python

# list

A list is a sequence of values,and these values can be of any type. Values in the list are called elements.
There are several ways to create a new list,the simplest is to enclose the elements in square bracket and ([and])

In [6]:
 list = ['a',2,3,'xyz',True]

In [7]:
list

['a', 2, 3, 'xyz', True]

In [8]:
x = [10,20,30,40] #from left to right index starts from 0 in python and for right to left it starts from -1

In [9]:
x

[10, 20, 30, 40]

In [10]:
type(x)

list

In [11]:
x[1]

20

In [12]:
x[-1]

40

In [13]:
type(x)

list

In [14]:
car = ['Merceedes','audi','bmw']
print(car)

['Merceedes', 'audi', 'bmw']

# Nested List

Nested list is list inside of another list.

In [17]:
a = [10,20,30,['abc','xyz']]

In [19]:
a

[10, 20, 30, ['abc', 'xyz']]

In [29]:
a[2]

30

In [27]:
a[1]

20

In [28]:
x = []

In [20]:
type(x)

list

In [21]:
s = 'hello python'

In [24]:
message = "Welcome to Python Class"

In [25]:
message_list = message.split()

In [26]:
message_list

['Welcome', 'to', 'Python', 'Class']

In [2]:
words = ['apple','mango','banana','fig','strawberry']

In [3]:
words[-1]

'strawberry'

In [4]:
len(words)

5

In [5]:
words[3]

'fig'

In [6]:
words.index('fig')

3

In [32]:
words[1:3] #upper end is always exclusive

['mango', 'banana']

In [12]:
words[2:]

['banana', 'fig', 'strawberry']

In [10]:
words[-1]

'strawberry'

In [16]:
word = [words[-4],words[3], words[2], words[1], words[0]]
word

['mango', 'fig', 'banana', 'mango', 'apple']

In [34]:
words[0:-1]

['apple', 'mango', 'banana', 'fig']

In [13]:
words[-2:5]

['fig', 'strawberry']

In [14]:
words[1:-1]

['mango', 'banana', 'fig']

In [36]:
words[:]

['apple', 'mango', 'banana', 'fig', 'strawberry']

In [37]:
words[1:-1]

['mango', 'banana', 'fig']

In [38]:
words[2:4]

['banana', 'fig']

In [39]:
'guavee' in words

False

In [40]:
animals = ['cat','dog','snake','fish','elephant','fish','fish']

In [41]:
animals.index('fish')

3

In [42]:
len(animals) #To check no of elements in a list

7

In [43]:
 x = words + animals
 x

['apple',
 'mango',
 'banana',
 'fig',
 'strawberry',
 'cat',
 'dog',
 'snake',
 'fish',
 'elephant',
 'fish',
 'fish']

In [44]:
words.append('cherry')

In [45]:
words

['apple', 'mango', 'banana', 'fig', 'strawberry', 'cherry']

In [46]:
words.extend(['Gua','vaGrapes','berries','pineapple'])

In [47]:
words

['apple',
 'mango',
 'banana',
 'fig',
 'strawberry',
 'cherry',
 'Guava',
 'Grapes',
 'berries',
 'pineapple']

In [48]:
words.remove('berries','grapes')

TypeError: remove() takes exactly one argument (2 given)

In [49]:
words

['apple',
 'mango',
 'banana',
 'fig',
 'strawberry',
 'cherry',
 'Guava',
 'Grapes',
 'berries',
 'pineapple']

In [69]:
 words.remove(words.index(-1))

ValueError: -1 is not in list

In [50]:
words.remove(words[1])

In [51]:
words

['apple',
 'banana',
 'fig',
 'strawberry',
 'cherry',
 'Guava',
 'Grapes',
 'berries',
 'pineapple']

In [52]:
words.append('cherry')

In [53]:
words

['apple',
 'banana',
 'fig',
 'strawberry',
 'cherry',
 'Guava',
 'Grapes',
 'berries',
 'pineapple',
 'cherry']

In [54]:
words.remove('cherry')

In [55]:
words

['apple',
 'banana',
 'fig',
 'strawberry',
 'Guava',
 'Grapes',
 'berries',
 'pineapple',
 'cherry']

In [30]:
my_list = [1,67,84,98,34,90,76,56]

In [31]:
my_list.sort()

In [32]:
my_list

[1, 34, 56, 67, 76, 84, 90, 98]

In [33]:
my_list = [1,67,22,9,77,13,78,48]
print(my_list.sort())

None

In [36]:
word=["apple","mango","banana","fig","strawberry"]
word
#word[0]

['apple', 'mango', 'banana', 'fig', 'strawberry']

In [42]:
word[1:3:2]

['mango']

In [37]:
word[0]

'apple'

In [59]:
my_list.sort(reverse = True)

In [60]:
my_list

[98, 90, 84, 76, 67, 56, 34, 1]

In [38]:
my_list*2

[1, 9, 13, 22, 48, 67, 77, 78, 1, 9, 13, 22, 48, 67, 77, 78]

In [45]:
my_list[1:7] #list[firstindex:lastindex:step]

[9, 13, 22, 48, 67, 77]

In [44]:
my_list[1:2]

[9]

# Tuples

A tuple1 is a sequence of values much like a list. The values stored in a tuple can be any type, and they are indexed by integers. The important difference is that tuples are immutable.

In [1]:
#To create a tuple with a single element, you have to include the final comma:
t1 = ('a',)
type(t1)

tuple

In [16]:
t1 = ('a')
type(t1)

str

In [3]:
#Another way to construct a tuple is the built-in function tuple. 
#With no argument, it creates an empty tuple:
t = tuple()
print (t)

()

In [5]:
#If the argument is a sequence (string, list or tuple), 
#the result of the call to tuple is a tuple with the elements of the sequence:
t = tuple('lupins')
print (t)

('l', 'u', 'p', 'i', 'n', 's')

In [6]:
l = (1,2,3)

In [7]:
l

(1, 2, 3)

In [8]:
type(l)

tuple

In [9]:
l.index(1)

0

In [10]:
l.count(2) #n0 of times that elemnt is occuring

1

In [17]:
 b = l*5

In [18]:
b

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [19]:
len(b)

15

    Lists: You can use these when you need a collection of similar/non similar items....

    Tuples are generally used for smaller groups of similar items

A good rule of thumb is: use lists when the items are similar, and tuples when the items are non-similar. A sequence of 50 first names? That's a list. A sequence consisting of a first name, last name, age, and address? That's a tuple.

if you need to store a long list of information, which doesn't change over time? Say, for example, the names of the months of the year. Or maybe a long list of information, that does change over time? Say, for example, the names of all your cats. You might get new cats, some may die, some may become your dinner (we should trade recipies!). What about a phone book? For that you need to do a bit of referencing - you would have a list of names, and attached to each of those names, a phone number. How would you do that?

For these three problems, Python uses three different solutions - Tuples, lists, and dictionaries:

    Lists are what they seem - a list of values. Each one of them is numbered, starting from zero - the first one is numbered zero, the second 1, the third 2, etc. You can remove values from the list, and add new values to the end. Example: Your many cats' names.
    Tuples are just like lists, but you can't change their values. The values that you give it first up, are the values that you are stuck with for the rest of the program. Again, each value is numbered starting from zero, for easy reference. Example: the names of the months of the year.
    Dictionaries are similar to what their name suggests - a dictionary. In a dictionary, you have an 'index' of words, and for each of them a definition. In python, the word is called a 'key', and the definition a 'value'. The values in a dictionary aren't numbered - tare similar to what their name suggests - a dictionary. In a dictionary, you have an 'index' of words, and for each of them a definition. In python, the word is called a 'key', and the definition a 'value'. The values in a dictionary aren't numbered - they aren't in any specific order, either - the key does the same thing. You can add, remove, and modify the values in dictionaries. Example: telephone book.

In [23]:
l = [1,2,3]
m = [2,2,3]
i = l*m

TypeError: can't multiply sequence by non-int of type 'list'