Libraries and builtin functions in Python

random module

Python has many inbuilt packages and modules. One of the most useful modules is random. This module helps in generating random numbers.

In [18]:
import random

x=1
y=5

print(random.randrange(x,y))

3

In [31]:
print(random.randrange(1,10))

7

math module

math is another useful module in Python. Once you have imported the math module, you can use some of the below functions:

math.ceil(x)

It is a function to Smallest integer greater than or equal to x

In [40]:
import math

print(math.ceil(234.17))

235

math.floor(x)

It is a function to The largest integer smaller than or equal to x

In [45]:
math.floor(234.7)

234

math.factorial(x)

In [43]:
math.factorial(5)

120

In [46]:
math.fabs(27.0156897)

27.0156897

String functions

In [17]:
#name.count("a") -Returns the count of a given set of characters. Returns 0 if not found

name="Raajesh"
name.count("a")

2

In [18]:
#name.replace("a","A")-Returns a new string by replacing a set of characters with another set of characters. It does not modify the original string

name.replace("a","A")

'RAAjesh'

In [19]:
#name.find("a")-Returns the first index position of a given set of characters

name.find("R")

0

In [20]:
# name.startswith("Ra") - Checks if a string starts with a specific set of characters, returns true or false accordingly.

name.startswith("Ra")

True

In [21]:
#name.endswith("ha")-Checks if a string ends with a specific set of characters, returns true or false accordingly.

name.endswith("h")

True

In [22]:
# name.isdigit()-Checks if all the characters in the string are numbers, returns true or false accordingly.

name.isdigit()

False

In [23]:
# name.upper()-Converts the lowercase letters in string to uppercase

name.upper()

'RAAJESH'

In [24]:
# name.lower() - Converts the uppercase letters in string to lowercase


name.lower()

'raajesh'

In [25]:
len(name)

7

In [31]:
# name.split("a")- Splits string according to delimiter and returns the list of substring. Space is considered as the default delimiter.

name.split("e")

['Raaj', 'sh']