# DataBase Programming

We can connect databaase by using pyodbc and pandas

In [9]:
# Connecting bd by using pyiodbc 
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-4S897J0;'
                      'Database=MyPractice;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM MyPractice.dbo.Student')

for row in cursor:
    print(row)

(2, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(3, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(4, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(5, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)

In [7]:
#Conectiong bd by using pandas and pyodbc

import pandas as pd
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-4S897J0;'
                      'Database=MyPractice;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

sql_query = pd.read_sql_query('SELECT * FROM MyPractice.dbo.Student',conn)
print(sql_query)
print(type(sql_query))

   StudentId   Fname  Lname          Email  Mobile
0          2  Rajesh  Reddy  Raj@gmail.com  970164
1          3  Rajesh  Reddy  Raj@gmail.com  970164
2          4  Rajesh  Reddy  Raj@gmail.com  970164
3          5  Rajesh  Reddy  Raj@gmail.com  970164
<class 'pandas.core.frame.DataFrame'>

# Insert commands

Database programming with Python is very easy. You just need 8 lines of code to insert a record into a database table from Python. Take a look!

In [42]:
# Connecting db by using pyodbc

import pyodbc

con=pyodbc.connect('Driver={SQL Server};'
                   'Server=DESKTOP-4S897J0;'
                   'DataBase=MyPractice;'
                   'Trusted_Connection=yes;')

curson=con.cursor()

#curson.execute('select * from MyPractice.dbo.Student')
curson.execute('''INSERT INTO dbo.Student(Fname,Lname,Email,Mobile) VALUES('Sai','Reddy','Sai@gmail.com',2013),('Praveen','Reddy','rpkr@gmail.com',96666)''')
curson.execute('select * from MyPractice.dbo.Student')
for row in curson:
    print(row)
    
con.commit()

(2, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(3, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(4, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(5, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(6, 'Sai', 'Reddy', 'pra@gmail.com', 75648)
(18, 'Sai', 'Reddy', 'Sai@gmail.com', 2013)
(19, 'Praveen', 'Reddy', 'rpkr@gmail.com', 96666)

In [51]:
import pyodbc

con=pyodbc.connect('Driver={SQL Server};'
                   'Server=DESKTOP-4S897J0;'
                   'DataBase=MyPractice;'
                   'Trusted_Connection=yes;')

cursor=con.cursor()

cursor.execute(''' insert into dbo.Student(Fname,Lname,Email,Mobile)
                values('Rushsi','Reddy','rushi@gmail.com',7565),
                ('srikanth','naidu','sri@gmail.com',53214)''')
cursor.execute('select * from MyPractice.dbo.Student')

for row in cursor:
    print(row)
con.commit()

(2, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(3, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(4, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(5, 'Rajesh', 'Reddy', 'Raj@gmail.com', 970164)
(6, 'Sai', 'Reddy', 'pra@gmail.com', 75648)
(18, 'Sai', 'Reddy', 'Sai@gmail.com', 2013)
(19, 'Praveen', 'Reddy', 'rpkr@gmail.com', 96666)
(24, 'Rushsi', 'Reddy', 'rushi@gmail.com', 7565)
(25, 'srikanth', 'naidu', 'sri@gmail.com', 53214)

# Deleting records from a table

In [50]:
import pyodbc

con=pyodbc.connect('Driver={SQL Server};'
                   'Server=DESKTOP-4S897J0;'
                  'DataBase=MyPractice;'
                  'Trusted_Connection=yes;')

cursor=con.cursor()

cursor.execute('delete MyPractice.dbo.Student where StudentId>20 ')

cursor.execute('select * from MyPractice.dbo.Student')

for row in cursor:
    print(cursor)
    
con.commit()

<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>
<pyodbc.Cursor object at 0x00000177517D7BB0>

# Committing a transaction

All DML statement transactions are not auto committed by default. Thus any DML operations done through Python will be lost once the connection is closed. To ensure that the DML operations are not lost after the connection, the commit() method has to be invoked on the connection object.